$offwhite: #f2f2f2;
$ultra: #ffbf00;

@font-face {
  font-family: finalFantacy;
  src: url("../public/RONORGERIONDEMO-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: smallText;
  src: url("../public/Cerebri\ Sans\ Book.ttf");
  font-style: normal;
}

@font-face {
  font-family: extended;
  src: url("../public/Berthold-akzidenz-grotesk-be-medium-extended.ttf");
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
  // font-family: finalFantacy;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

body {
  padding: 0;
  margin: 0;
  background-color: $offwhite;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
  font-family: smallText, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

body:not(.isMobile) {
  .basicScroll {
    // height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.btn-box {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
}

.basicScroll .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  // will-change: transform;
}

.basicScroll .container {
  position: relative;
  width: 100%;
  transform: translateZ(0);
}

.ui {
  color: $offwhite;
}

.night-mode {
  .curtain {
    background-color: #000 !important;
  }
}

.ultra-mode {
  background-color: $ultra;
  color: #000;

  .ui {
    color: #151515;
  }

  .ui .logo {
    color: #000;

    @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #000)) {
      -webkit-text-stroke: 1px #000;
      text-stroke: 1px #000;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
          color: $ultra;
        }
      }
    }

    @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
      -webkit-text-stroke: 1px #000;
      text-stroke: 1px #000;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
          color: transparent;
        }
      }
    }
  }

  .ui .copyright {
    color: #151515;
    font-family: smallText;
  }

  .mobile-nav {
    border-color: #151515;
  }

  .mobile-nav-inner,
  .mobile-nav-inner:before,
  .mobile-nav-inner:after {
    background-color: #151515;
  }

  .ui a:not(.logo),
  .ui button.link {
    color: #151515;
  }

  .ui .links .about-li:after,
  .ui .links .journal-li:after {
    background-color: #151515;
  }

  .icon-back,
  .icon-back:before,
  .icon-back:after,
  .icon-close:before,
  .icon-close:after {
    background-color: #151515;
  }

  &.aboutShow .stagePerspective,
  &.aboutShow .content {
    opacity: 0.1;
  }

  .about:before {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .about {
    .left {
      color: #151515;
    }

    .right {
      color: #151515;
    }
  }

  @media screen and (max-width: 767px) {
    .ui .info {
      background-color: rgba(0, 0, 0, 0.85);
    }
  }

  &.home-page:not(.ultra-mode) {
    .projects a {
      @supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
        color: transparent;

        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
      }
    }

    &:not(.intro):not(.outro) .projects.isHovering li:hover a,
    &:not(.outro) .projects li.isSelected a,
    &:not(.outro) .projects li:hover a {
      @supports (
        (-webkit-text-stroke: 0px $offwhite) or (text-stroke: 0px #000)
      ) {
        color: #000;
      }
    }

    &.outro .projects.isHovering li:hover a,
    &.projects li.isSelected a,
    &.outro .projects li.isSelected:hover a {
      @supports (
        (-webkit-text-stroke: 1px $offwhite) or (text-stroke: 1px #000)
      ) {
        color: transparent;
        transition: color 0.5s 0.5s, opacity 1s;

        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
      }
    }

    .projects a:before {
      color: #000 !important;
    }

    .projects a:after {
      background-color: #000;
    }

    @media screen and (max-width: 767px) {
      .projects a {
        @supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
          -webkit-text-stroke: 1px #000;
          text-stroke: 1px #000;
        }
      }
    }
  }
}

.night-mode {
  background-color: #000;
  color: $offwhite;

  .ui {
    color: $offwhite;
  }

  .ui .logo {
    color: #fff;

    @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #000)) {
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
          color: $ultra;
        }
      }
    }

    @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
          color: transparent;
        }
      }
    }
  }

  .ui .copyright {
    color: #fff;
    font-family: smallText;
  }

  .mobile-nav {
    border-color: $offwhite;
  }

  .mobile-nav-inner,
  .mobile-nav-inner:before,
  .mobile-nav-inner:after {
    background-color: $offwhite;
  }

  .ui a:not(.logo),
  .ui button.link {
    color: $offwhite;
  }

  .ui .links .about-li:after,
  .ui .links .journal-li:after {
    background-color: $offwhite;
  }

  .icon-back,
  .icon-back:before,
  .icon-back:after,
  .icon-close:before,
  .icon-close:after {
    background-color: $offwhite;
  }

  &.aboutShow .stagePerspective,
  &.aboutShow .content {
    opacity: 0.1;
  }

  .about:before {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .about {
    .left {
      color: $offwhite;
    }

    .right {
      color: $offwhite;
    }
  }

  @media screen and (max-width: 767px) {
    .ui .info {
      background-color: rgba(0, 0, 0, 0.85);
    }
  }

  &.home-page:not(.ultra-mode) {
    .projects a {
      @supports (
        (-webkit-text-stroke: 2px $offwhite) or (text-stroke: 2px $offwhite)
      ) {
        color: transparent;

        -webkit-text-stroke: 2px $offwhite;
        text-stroke: 2px $offwhite;
      }
    }

    &:not(.intro):not(.outro) .projects.isHovering li:hover a,
    &:not(.outro) .projects li.isSelected a,
    &:not(.outro) .projects li:hover a {
      @supports (
        (-webkit-text-stroke: 0px $offwhite) or (text-stroke: 0px $offwhite)
      ) {
        color: $offwhite;
      }
    }

    &.outro .projects.isHovering li:hover a,
    &.projects li.isSelected a,
    &.outro .projects li.isSelected:hover a {
      @supports (
        (-webkit-text-stroke: 2px $offwhite) or (text-stroke: 2px $offwhite)
      ) {
        color: transparent;
        transition: color 0.5s 0.5s, opacity 1s;

        -webkit-text-stroke: 2px $offwhite;
        text-stroke: 2px $offwhite;
      }
    }

    .projects a:before {
      color: $offwhite !important;
    }

    .projects a:after {
      background-color: $offwhite;
    }

    @media screen and (max-width: 767px) {
      .projects a {
        @supports (
          (-webkit-text-stroke: 1px $offwhite) or (text-stroke: 1px $offwhite)
        ) {
          -webkit-text-stroke: 1px $offwhite;
          text-stroke: 1px $offwhite;
        }
      }
    }
  }
}

.light-mode {
  .color-mode .dot {
    background-color: #fff;
  }

  .color-mode {
    border-color: #000;
  }

  .contact ul li {
    color: #000;
  }

  .ui .copyright {
    color: #151515;
    z-index: 1000;
  }

  .mobile-nav-inner::after,
  .mobile-nav-inner::before,
  .mobile-nav-inner {
    background: #151515;
  }

  &.home-page .projectLi.isSelected .barba-container a,
  &.home-page .projectLi.isSelected:hover .project-container a {
    @supports (
      (-webkit-text-stroke: 2px #151515) or (text-stroke: 2px #151515)
    ) {
      color: transparent;

      -webkit-text-stroke: 2px #151515;
      text-stroke: 2px #151515;
    }
  }

  @media screen and (max-width: 767px) {
    &.home-page .project-container a,
    &.home-page .projectLi.isSelected:hover .project-container a {
      @supports (
        (-webkit-text-stroke: 2px #151515) or (text-stroke: 2px #151515)
      ) {
        -webkit-text-stroke: 2px #151515;
        text-stroke: 2px #151515;
      }
    }
  }
}

.ultra-mode {
  background-color: $ultra;

  .curtain {
    background-color: $ultra !important;
  }

  .content {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .logo {
    color: #fff;

    @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
          color: $ultra;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .ui .info {
      background-color: rgba($ultra, 0.85);
    }
  }

  &.home-page {
    .projects a {
      @supports ((-webkit-text-stroke: 2px #000) or (text-stroke: 2px #000)) {
        color: #000;

        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
      }
    }

    &:not(.intro):not(.outro) .projects li:hover a,
    &:not(.outro) .projects li.isSelected a,
    &:not(.outro) .projects li.isSelected:hover a {
      @supports (
        (-webkit-text-stroke: 2px #151515) or (text-stroke: 2px #151515)
      ) {
        color: transparent;

        -webkit-text-stroke: 2px #151515;
        text-stroke: 2px #151515;
      }
    }

    &.projectsLi.isSelected .project-container a,
    &.projectsLi.isSelected:hover .project-container a {
      @supports (
        (-webkit-text-stroke: 2px #151515) or (text-stroke: 2px #151515)
      ) {
        color: transparent;

        -webkit-text-stroke: 2px #151515;
        text-stroke: 2px #151515;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1320px) {
      .projects a {
        @supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
          color: #000;

          -webkit-text-stroke: 1px #000;
          text-stroke: 1px #000;
        }
      }

      &:not(.intro):not(.outro) .projects.isHovering li:hover a,
      &:not(.outro) .projects li.isSelected a,
      &:not(.outro) .projects li.isSelected:hover a,
      .projectLi.isSelected .projectContainer a,
      .projectLi.isSelected:hover .projectContainer a,
      &.projects .projectLi .projectContainer a,
      &.projectLi.isSelected:hover .projectContainer a {
        @supports (
          (-webkit-text-stroke: 1px #151515) or (text-stroke: 1px #151515)
        ) {
          color: transparent;

          -webkit-text-stroke: 1px #151515;
          text-stroke: 1px #151515;
        }
      }
    }
  }

  .about:before {
    background-color: rgba($ultra, 0.85);
  }
}

.curtain {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, background-color 0.5s;
}

.logo {
  color: #fff;

  @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
        color: $ultra;
      }
    }
  }
}

.home-page {
  .slideUp span {
    animation-delay: 2s;
  }
  .slideUp:nth-child(2) span {
    animation-delay: 2.2s;
  }
  .slideUp:nth-child(3) span {
    animation-delay: 2.35s;
  }

  &.home-page.aboutShow {
    .social,
    .contact,
    .links {
      visibility: hidden;
    }
  }
}

.ultra-mode .mobile-nav {
  border-color: #f2f2f2;
}

//module gallery

.module-gallery {
  display: flex;
  justify-content: space-between;
  padding: 15vh 10vw 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px + 20vw);

  .gallery {
    position: relative;
    width: 100%;
  }

  .gallery img,
  .gallery video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: middle;

    // &:not(:last-of-type) {
    // 	margin-right: 5vw;
    // }
  }

  .info {
    flex-shrink: 0;
    width: 170px;
    margin-left: 30px;
    font-size: 12px;

    p {
      font-size: 14px;
      line-height: 1.4em;
    }
  }

  .pagination {
    margin-bottom: 20px;

    button {
      padding: 0;
      margin: 0;
      border: none;
      border-radius: none;
      background: none;
      outline: none;
      cursor: pointer;
    }

    .btn-gallery-left {
      transform: translateY(5px);
    }
    .btn-gallery-right {
      transform: translateY(5px);
    }

    .current {
      padding-left: 10px;
    }

    .total {
      padding-right: 10px;
    }
  }

  .title {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 20vw;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    padding-top: 15vw;
    padding-left: 30px;
    padding-right: 30px;

    .info {
      margin-top: 5vw;
      margin-left: 0;
      width: 100%;
    }

    .info p {
      font-size: 16px;
      line-height: 1.4em;
    }

    .pagination {
      width: 50%;
      float: right;
      margin-bottom: 5vw;
      text-align: right;
    }

    .title {
      width: 50%;
      float: left;
      margin-bottom: 5vw;
    }

    .description {
      clear: both;
    }
  }
}

section,
div {
  .theme-reduce-top-padding {
    padding-top: 5vh;
  }
}

.reveal {
  &.module-copy {
    .col-1,
    .col-2 {
      opacity: 0;
      transform: translateY(100px);
      transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .col-2 {
      transition-delay: 0.2s;
    }
  }

  &.module-image,
  &.module-video,
  &.module-code {
    .media {
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .info {
      perspective: 250px;
      perspective-origin: left top;
    }

    .title,
    .description {
      opacity: 0;
      // transform: translateY(20px);
      // transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
      transform: rotate3d(0, 1, 0, 35deg) translateZ(0);
      transform-origin: left center;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s,
        transform 0.5s 0.25s;
    }

    .description {
      transition-delay: 0.35s;
    }
  }

  &.module-gallery {
    .media {
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .info {
      perspective: 250px;
      perspective-origin: left top;
    }

    .pagination,
    .title,
    .description {
      opacity: 0;
      // transform: translateY(20px);
      // transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
      transform: rotate3d(0, 1, 0, 35deg) translateZ(0);
      transform-origin: left center;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s,
        transform 0.5s 0.25s;
    }

    .title {
      transition-delay: 0.35s;
    }

    .description {
      transition-delay: 0.45s;
    }
  }

  &.module-quote {
    perspective: 100vw;
    perspective-origin: left center;

    blockquote {
      opacity: 0;
      // transform: translateX(10vw);
      // transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transform: rotate3d(0, 1, 0, 25deg) translateZ(0);
      transform-origin: left top;
      transition: opacity 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .attribution {
      display: block;
      opacity: 0;
      // transform: translateY(20px);
      // transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
      transform: rotate3d(0, 1, 0, 35deg) translateZ(0);
      transform-origin: left top;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s,
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
    }
  }

  &.flex-3 {
    opacity: 0;
    transition: opacity 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  }

  &.reveal-show {
    &.module-copy {
      .col-1,
      .col-2 {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.module-image,
    &.module-video,
    &.module-code {
      .media {
        opacity: 1;
      }

      .title,
      .description {
        opacity: 1;
        // transform: translateY(0);
        transform: rotate3d(0, 1, 0, 0deg) translateZ(0);
      }
    }

    &.module-gallery {
      .media {
        opacity: 1;
      }

      .pagination,
      .title,
      .description {
        opacity: 1;
        // transform: translateY(0);
        transform: rotate3d(0, 1, 0, 0deg) translateZ(0);
      }
    }

    &.module-quote {
      blockquote {
        opacity: 1;
        transform: rotate3d(0, 1, 0, 0deg) translateZ(0);
      }

      .attribution {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.flex-3 {
      opacity: 1;
    }
  }
}

.flickity-viewport {
  transition: height 0.3s ease-in-out;
}

.flickity-slider {
  width: 100.05%;
}

.flickity-prev-next-button {
  top: 0;
  transform: translateY(0);
  width: 15%;
  height: 100%;
  padding: 0;
  border-radius: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border-radius: none;
    background-color: transparent;
  }

  &.previous {
    left: 0;

    // &:not([disabled]) {
    // 	cursor: url("/img/ui/arrow-left-green.svg") 24 24, auto;
    // }
  }

  &.next {
    right: 0;

    // &:not([disabled]) {
    // 	cursor: url("/img/ui/arrow-right-green.svg") 24 24, auto;
    // }
  }

  svg {
    display: none;
  }
}

.flex-3 .flickity-page-dots,
.flickity-page-dots {
  display: flex;
  justify-content: center;
  position: static;
  margin: 0;
  text-align: left;
}

.flickity-page-dots .dot {
  height: 14px;
  width: 14px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ccc;
  opacity: 1;
  transition: background-color 0.5s ease-in-out;

  &.is-selected {
    background-color: #000;
  }
}

.module-copy {
  display: flex;
  justify-content: space-between;
  padding: 15vh 10vw 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px + 20vw);

  .summary {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 170px);
  }

  .col-1,
  .col-2 {
    flex-basis: 50%;
    padding-right: 30px;
    font-size: 18px;
    line-height: 1.4em;

    p {
      margin-bottom: 0;
    }

    p:not(:first-of-type) {
      margin-top: 1.6em;
    }

    a {
      color: #000;
    }
  }

  .col-1 {
    strong {
      font-size: 30px;
      line-height: 1.04em;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 10vh;

    .col-1,
    .col-2 {
      flex-basis: 100%;
    }

    .col-2 {
      margin-top: 1em;
    }
  }

  @media screen and (max-width: 1023px) {
    .summary {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;

    .summary {
      margin-top: 0;
      width: 100%;
    }

    .col-1,
    .col-2 {
      font-size: 18px;
      line-height: 1.4em;
    }

    .col-1 {
      strong {
        font-size: 20px;
      }
    }

    .col-2 {
      margin-top: 5vw;
    }
  }
}

.module-quote {
  position: relative;
  z-index: -1;
  padding: 15vh 10vw 5vh;
  max-width: calc(1440px + 20vw);
  margin-left: auto;
  margin-right: auto;

  blockquote {
    position: relative;
    margin: 0;
    width: calc(80% - 200px);
    // @include drukWideMedium;
    font-family: extended;
    font-size: 3.2vw;
    letter-spacing: 0.03em;
    line-height: 1.2em;

    .quote-left {
      position: absolute;
      top: 6px;
      left: -63px;
      font-size: 6.2vw;
    }
  }

  .attribution {
    display: block;
    margin-top: 4em;
    width: 100%;
    // @include akzidenzGrotesk;
    font-family: extended;
    font-size: 16px;
    font-weight: 500;
  }

  @media screen and (min-width: 1025px) {
    blockquote {
      font-size: 30px;
      line-height: 1.3em;
    }

    blockquote .quote-left {
      top: 8px;
      font-size: 72px;
    }
  }

  @media screen and (max-width: 1200px) {
    blockquote {
      width: calc(100% - 200px);
    }

    blockquote .quote-left {
      left: -5vw;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 10vw;

    blockquote {
      width: 100%;
      font-size: 26px;
      line-height: 1.3em;
    }

    blockquote .quote-left {
      top: 8px;
      font-size: 60px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 15vw 30px 20vw 60px;

    blockquote {
      font-size: 18px;
    }

    blockquote .quote-left {
      top: 2px;
      left: -7vw;
      font-size: 40px;
    }

    .attribution {
      margin-top: 2em;
    }
  }
}

.module-image {
  display: flex;
  justify-content: space-between;
  padding: 15vh 10vw 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px + 20vw);

  img {
    width: calc(100% - 200px);
    height: 100%;
  }

  .info {
    flex-shrink: 0;
    width: 170px;
    margin-left: 30px;
    line-height: 1.4em;
  }

  .title {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 15vw;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;

    img,
    video {
      width: 100%;
    }

    .info {
      margin-top: 5vw;
      margin-left: 0;
      width: 100%;
      font-size: 16px;
      line-height: 1.4em;
    }

    .title {
      margin-bottom: 5vw;
    }
  }
}

.module-project {
  padding: 15vh 10vw calc(128px + 15vh);
  max-width: calc(1440px + 20vw);
  margin-left: auto;
  margin-right: auto;
  text-align: right;

  a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    .project-name {
      color: #000;
    }
  }

  .next-project {
    // @include drukWideMedium;
    font-family: extended;
  }

  .project-name {
    display: block;
    text-align: right;
    text-transform: uppercase;
    // @include drukWideSuper;
    font-family: finalFantacy;
    font-size: 9vw;
    letter-spacing: 0.02em;
    line-height: 0.9em;
    transition: color 0.2s ease-in-out;
  }

  @media screen and (min-width: 1441px) {
    .project-name {
      font-size: 130px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 15vh 10vw;
  }

  @media screen and (min-width: 768px) {
    a {
      perspective: 100vw;
    }

    a:hover {
      .project-name {
        transform: rotate3d(0, 1, 0, 0deg) translateZ(0);
      }
    }

    .project-name {
      @supports ((-webkit-text-stroke: 2px #000) or (text-stroke: 2px #000)) {
        color: transparent;
        -webkit-text-stroke: 2px #000;
        text-stroke: 2px #000;
      }
      transform: rotate3d(0, 1, 0, -45deg) translateZ(0);
      transform-origin: right center;
      transition: color 0.2s ease-in-out, transform 0.5s;
    }

    &.reveal-show {
      .project-name {
        transform: rotate3d(0, 1, 0, -35deg) translateZ(0);
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;

    .project-name {
      font-size: 40px;
      @supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
        color: transparent;
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
      }
    }
  }
}

.mobile-nav-inner,
.mobile-nav-inner::before,
.mobile-nav-inner::after {
  background-color: $offwhite;
}

.barba-container {
  transition: opacity 0.5s;
}

button.link {
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  font: inherit;
  outline: none;
}

.btn-back:hover,
.btn-page-back:hover {
  &:before {
    border-color: #000;
    transform: scale(1);
  }

  .btn-box {
    transform: translateX(0) scale(1);
    opacity: 1;
    animation: slideLeftOutRightIn 2s cubic-bezier(0.6, -0.28, 0.735, 0.045)
      0.25s infinite forwards;
  }
}

.content-slide {
  animation: slideUp 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.content-rotate {
  animation: rotate 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes rotate {
  from {
    opacity: 0;
    transform: rotateY(35deg) translateZ(0);
  }
  to {
    opacity: 1;
    transform: rotateY(0) translateZ(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideLeftOutRightIn {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  5% {
    transform: translateX(0) scale(0.75);
    opacity: 1;
  }
  19.99% {
    transform: translateX(-50%) scale(0.75);
    opacity: 0;
  }
  20% {
    transform: translateX(50%) scale(0.75);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  30% {
    transform: translateX(0) scale(0.75);
    opacity: 1;
  }
  40% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.btn-back,
.btn-page-back {
  display: none;
  position: fixed;
  top: 5vh;
  right: 60px;
  z-index: 1;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  text-transform: none;
  outline: none;
  cursor: pointer;
  transform: translateX(120px);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px transparent;
    border-radius: 50%;
    transform: scale(0.9);
    transition: transform 0.25s, border-color 0.25s;
  }

  @media screen and (max-width: 767px) {
    top: 5vw;
    right: 15px;

    &:before {
      display: none;
    }
  }
}

.icon-back {
  position: relative;
}

.icon-back:before,
.icon-back:after {
  content: "";
  display: block;
}

.icon-back:before {
  top: -7px;
}

.icon-back:after {
  bottom: -7px;
}

.icon-back:before {
  transform: translate3d(-7px, 2px, 0) rotate(-45deg) scale(0.6, 1);
}

.icon-back:after {
  transform: translate3d(-7px, -2px, 0) rotate(45deg) scale(0.6, 1);
}

.icon-back,
.icon-back:before,
.icon-back:after {
  position: absolute;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

@media screen and (min-width: 768px) {
  .btn-back,
  .btn-page-back {
    display: block;
  }
}

.btn-box {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
}

.icon-close {
  display: block;
}

.icon-close {
  position: relative;
}

.icon-close:before,
.icon-close:after {
  content: "";
  display: block;
}

.icon-close:before,
.icon-close:after {
  position: absolute;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.icon-close:before {
  transform: translateX(-50%) rotate(-45deg);
}

.icon-close:after {
  transform: translateX(-50%) rotate(45deg);
}

@media screen and (max-width: 767px) {
  .projects a {
    @supports (
      (-webkit-text-stroke: 1px #151515) or (text-stroke: 1px #151515)
    ) {
      color: #000;

      -webkit-text-stroke: 2px #151515;
      text-stroke: 2px #151515;
    }
  }
}
